rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /homes/{homeId} {
        allow read: if request.auth != null && resource.data.users[request.auth.uid] == true;
        allow write: if true; // TODO

        match /items/{itemId} {
            allow read: if true; // TODO
            allow write: if true; // TODO
        }
    }
  }
}

// firebase deploy --only firestore:rules