<form [formGroup]="form" (ngSubmit)="onAdd()">
  <mat-form-field>
    <mat-label>Item</mat-label>
    <input matInput formControlName="name" placeholder="Chicken" />
    <mat-error *ngIf="form.hasError('required', 'name')">Required</mat-error>
    <mat-error *ngIf="form.hasError('maxlength', 'name')"
      >Name must be less than 31 characters</mat-error
    >
  </mat-form-field>

  <mat-form-field class="storedIn-form-field">
    <mat-label>Stored In</mat-label>
    <input
      type="text"
      matInput
      formControlName="storedIn"
      [matAutocomplete]="storedInAuto"
    />
    <mat-autocomplete autoActiveFirstOption #storedInAuto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredStoredInOptions$ | async"
        [value]="option"
      >
        <div>{{ option }}</div>
        <div>
          <mat-icon (click)="removeStorage($event, option)"
            >delete_forever</mat-icon
          >
        </div>
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.hasError('maxlength', 'storedIn')"
      >Stored In must be less than 31 characters</mat-error
    >
    <mat-hint align="end"
      >Choose from drop down or type a new value to add it to the list
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date Bought</mat-label>
    <input
      matInput
      [matDatepicker]="dateBoughtPicker"
      formControlName="dateBought"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="dateBoughtPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #dateBoughtPicker touchUi></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Best Before</mat-label>
    <input
      matInput
      [matDatepicker]="bestBeforePicker"
      formControlName="bestBefore"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="bestBeforePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #bestBeforePicker touchUi></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Use By</mat-label>
    <input matInput [matDatepicker]="useByPicker" formControlName="useBy" />
    <mat-datepicker-toggle
      matSuffix
      [for]="useByPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #useByPicker touchUi></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>User Defined Use By Date</mat-label>
    <input
      matInput
      [matDatepicker]="userDefinedDatePicker"
      formControlName="userDefinedDate"
    />
    <mat-datepicker-toggle matSuffix [for]="userDefinedDatePicker">
    </mat-datepicker-toggle>
    <mat-datepicker #userDefinedDatePicker touchUi></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Primary Date</mat-label>
    <input
      matInput
      [matDatepicker]="primaryDatePicker"
      formControlName="primaryDate"
    />
    <mat-datepicker #primaryDatePicker> </mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Comments</mat-label>
    <textarea
      matInput
      formControlName="comments"
      placeholder="Move to freezer"
    ></textarea>
    <mat-error *ngIf="form.hasError('maxlength', 'comments')"
      >Comments must be less than 301 characters</mat-error
    >
  </mat-form-field>
  <br />

  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="disableSubmitButton"
    >
      Add Item
    </button>
    <button mat-button type="button" (click)="closeBottomSheet()">Close</button>
  </div>
</form>
