<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div>
        <div>
          {{ item.name }}
        </div>
        <div class="stored-in-text">
          {{ item.storedIn }}
        </div>
      </div>
    </mat-panel-title>
    <mat-panel-description>
      <div *ngIf="item.userDefinedDate">
        {{ item.userDefinedDate | date: "mediumDate" }}
      </div>

      <div *ngIf="!item.userDefinedDate && item.useBy">
        {{ item.useBy | date: "mediumDate" }}
      </div>

      <div *ngIf="!item.userDefinedDate && !item.useBy && item.bestBefore">
        {{ item.bestBefore | date: "mediumDate" }}
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div *ngIf="item.userDefinedDate">
    User defined date
    <span>{{ item.userDefinedDate | date: "mediumDate" }}</span>
    <!-- TODO add style to above? -->
  </div>

  <div *ngIf="item.useBy">
    Use by <span>{{ item.useBy | date: "mediumDate" }}</span>
  </div>

  <div *ngIf="item.bestBefore">
    Best before
    <span>{{ item.bestBefore | date: "mediumDate" }}</span>
  </div>

  <div *ngIf="item.dateBought">
    <br />
    Bought on
    <span>{{ item.dateBought | date: "mediumDate" }}</span>
  </div>

  <div *ngIf="item.comments">
    <br />
    <span>{{ item.comments }}</span>
  </div>

  <mat-action-row>
    <button mat-mini-fab (click)="delete.emit()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="edit.emit()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-action-row>
</mat-expansion-panel>
