<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div>
        <div>
          {{ item.name }}
        </div>
        <div class="stored-in-text">
          {{ item.storedIn }}
        </div>
      </div>
    </mat-panel-title>
    <mat-panel-description class="right-aligned">
      <div *ngIf="item.primaryDate">
        {{ item.primaryDate | date: "mediumDate" }}
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div *ngIf="item.userDefinedDate">
    <span class="date-title-text"> User defined date </span>
    <span>{{ item.userDefinedDate | date: "mediumDate" }}</span>
  </div>

  <div *ngIf="item.useBy">
    <span class="date-title-text">Use by </span>
    <span>{{ item.useBy | date: "mediumDate" }}</span>
  </div>

  <div *ngIf="item.bestBefore">
    <span class="date-title-text"> Best before </span>
    <span>{{ item.bestBefore | date: "mediumDate" }}</span>
  </div>

  <div *ngIf="item.dateBought">
    <br />
    <span class="date-title-text">Bought on </span>
    <span>{{ item.dateBought | date: "mediumDate" }}</span>
  </div>

  <div *ngIf="item.comments">
    <br />
    <span>{{ item.comments }}</span>
  </div>

  <mat-action-row>
    <button mat-mini-fab color="warn" (click)="delete.emit()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="edit.emit()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-action-row>
</mat-expansion-panel>
