<mat-toolbar color="primary">
  <mat-icon (click)="matSidenav.toggle()">menu</mat-icon>
  <h1><a routerLink="">Fresh</a></h1>

  <button class="more-button" mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="openBottomSheetToUserPage()">
      <mat-icon>account_circle</mat-icon>
      <span>User</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #matSidenav="matSidenav" mode="over">
    <button
      class="add-home-button"
      mat-raised-button
      color="accent"
      (click)="openBottomSheetToAddHome()"
    >
      <mat-icon>add</mat-icon>
      Home
    </button>
    <mat-nav-list>
      <mat-list-item *ngFor="let home of homes$ | async">
        <a
          mat-list-item
          [routerLink]="['home', home.id]"
          routerLinkActive
          #rla="routerLinkActive"
          (click)="matSidenav.close()"
        >
          {{ home.name }}
        </a>
        <mat-icon *ngIf="rla.isActive" [matMenuTriggerFor]="menu"
          >settings</mat-icon
        >
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openBottomSheetToManageUsers(home)">
            Manage Users
          </button>
          <button mat-menu-item color="warn" (click)="deleteHome(home)">
            Delete Home
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-nav-list>
    <div class="version-number">v0.1.1</div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- TODO put this request button somewhere else
        <button mat-button (click)="requestPermissionToSendNotifications()">Request</button> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
