<form [formGroup]="form" (ngSubmit)="onApply()">
  <mat-form-field>
    <mat-label>Stored In</mat-label>
    <mat-select formControlName="storedIn">
      <mat-option [value]="''">All Storages</mat-option>
      <mat-option
        *ngFor="let option of data.storedInOptions"
        [value]="option"
        >{{ option }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sort By</mat-label>
    <mat-select formControlName="sortBy">
      <mat-option *ngFor="let sort of sortOptions" [value]="sort.value">
        {{ sort.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-radio-group formControlName="sortOrder">
    <mat-radio-button value="asc">Asc</mat-radio-button>
    <mat-radio-button value="desc">Desc</mat-radio-button>
  </mat-radio-group>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">Apply</button>
    <button mat-button type="button" (click)="closeBottomSheet()">Close</button>
  </div>
</form>
