/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  // when choosing options in browser autocomplete
  // makes background transparent and text color white
  // noted the 5000s transition time
  // https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

.red {
  color: #ff8c95;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
