<div *ngIf="(data.userDoc$ | async) as userDoc" class="grid">
  <ng-container *ngIf="!isEditMode; else editNameTemplate">
    <h2>
      {{ userDoc.displayName }}
    </h2>

    <button
      mat-icon-button
      matTooltip="Edit display name"
      (click)="onEdit(userDoc.displayName)"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </ng-container>

  <ng-template #editNameTemplate>
    <mat-form-field>
      <input
        matInput
        [formControl]="newNameControl"
        placeholder="New display name"
        name="displayName"
      />
      <mat-error *ngIf="newNameControl.hasError('required')"
        >Name is required</mat-error
      >
      <mat-error *ngIf="newNameControl.hasError('maxlength')"
        >Name must be less than 31 characters</mat-error
      >
    </mat-form-field>

    <div class="name-control-button-container">
      <button mat-icon-button matTooltip="Cancel" (click)="isEditMode = false">
        <mat-icon>clear</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Save display name"
        (click)="saveDisplayName(userDoc.uid)"
      >
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </ng-template>

  <p>{{ userDoc.uid }}</p>

  <button
    mat-icon-button
    [cdkCopyToClipboard]="userDoc.uid"
    matTooltip="Copy user ID"
  >
    <mat-icon>content_copy</mat-icon>
  </button>

  <p>{{ userDoc.email }}</p>
  <button
    mat-icon-button
    [cdkCopyToClipboard]="userDoc.email"
    matTooltip="Copy email"
  >
    <mat-icon>content_copy</mat-icon>
  </button>

  <p>Allow Notification (does not work yet)</p>
  <mat-slide-toggle [formControl]="notificationControl"></mat-slide-toggle>

  <div></div>
  <button mat-button type="button" (click)="closeBottomSheet()">Close</button>
</div>
